<div><%= notice %><%= alert %></div>
<div class="container text-center">
  <h1 class="py-5">List of Submissions</h1>
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <%= link_to "投稿", new_grant_path, class: 'btn btn-md btn-success text-white col-lg-3' %>
    </div>
  </div>

  <%= render 'index', grants: @grants, user: @user %>

<% end %>