<% if grant.favorited_by?(current_user) %><!--いいね-->
  <p>
   <%= link_to grant_favorites_path(grant), method: :delete, remote: true do %><!--非同期通信-->
    ♥<%= grant.favorites.count %>
   <% end %>
  </p>
<% else %>
  <p>
   <%= link_to grant_favorites_path(grant), method: :post, remote: true do %><!--非同期通信-->
    ♡<%= grant.favorites.count %>
   <% end %>
  </p>
<% end %>