// Place all the styles related to the admin/grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.red-score {
  color: #FF0000;
}

.orange-score {
  color: #FFA500;
}

.green-score {
  color: #008000;
}

.blue-score {
  color: #0000FF;
}